body {
  --bg: white;
  --tbg: #cccccc;
  --tc: white;
  --textNormal: #222;
  --textTitle: #222;
  --textLink: rgb(255, 87, 0);
  --disabledLink: rgb(148, 148, 148);
  --textLinkHover: rgba(255, 87, 0, 0.8);
  --hr: hsla(0, 0%, 0%, 0.2);
  --codeBg: #f2f2f2;
  --codeText: #000;

  min-width: 320px;
  background-color: var(--bg);
  transition-duration: 0.2s;
  transition-property: background-color;
}

h4 {
  color: var(--textNormal);
}

body.dark {
  -webkit-font-smoothing: antialiased;
  --bg: #2d2d2d;
  --tbg: #66bc6a;
  --tc: #cccccc;
  --textNormal: #f2f2f3;
  --textTitle: #e7e8eb;
  --textLink: rgb(244, 126, 37);
  --textLinkHover: rgb(244, 126, 37, 0.8);
  --hr: hsla(0, 0%, 100%, 0.2);
}

a:active,
a:hover {
  outline-width: 0;
}

a h3 {
  transition: all ease-in-out 0.2s;
}

a:active h3,
a:hover h3 {
  color: var(--textLinkHover);
}

a,
.gt-container a {
  color: var(--textLink) !important;;
  text-decoration: none !important;;
}

.gt-container .gt-header-textarea,
.gt-container .gt-header-preview {
  background-color: var(--bg) !important;
  color: var(--textNormal) !important;
  border-color: var(--textLink) !important;
  font-size: inherit !important;
}

.gt-container .gt-btn {
  background-color: var(--textLink) !important;
  border-color: var(--textLink) !important;
  font-size: 16px !important;
  color: var(--codeBg) !important;
}

.gt-container .gt-header-controls-tip {
  color: var(--textLink) !important;
}

.gt-container .gt-svg svg {
  fill: var(--textLink) !important;
}

.gt-container .gt-popup {
  background-color: var(--bg) !important;
  color: var(--textNormal) !important;
}

.gt-container a:hover, .gt-container .gt-comment-username {
  color: var(--textLinkHover) !important;
  text-decoration: none !important;
}

.gt-container .gt-link {
  border: none !important;
}

.gt-container .gt-comment-admin .gt-comment-content {
  background-color: var(--bg) !important;;
}

.gt-container .gt-comment-body {
  color: var(--textNormal) !important;
}

.gt-container .gt-comment-content:hover {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1.1rem;
  }

  h5 {
    font-size: 1.0rem;
  }

  p {
    margin-bottom: 1.1rem;
  }

  ol {
    margin-left: 1.1rem;
  }

  blockquote {
    margin: 0 0.8rem;
  }
}